<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fab Stations</title>
</head>
<style>
  body {
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
  }

  ul {
    margin: .5rem;
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 1rem;
  }

  b {
    font-size: 100%;
    display: block;
  }

  abbr {
    font-weight: lighter;
    padding-left: 10px;
  }

  em {
    font-size: 80%;
    display: flex;
    justify-content: space-between;
    font-style: normal;
  }

  i {
    font-style: normal;
  }
</style>

<body>
  <ul>
    {% for station in data %}
    <li>
      <b>{{ station.label }} <abbr>{{ station.name }}</abbr></b>
      <em>
        <span><i>Bikes:</i> {{ station.num_bikes_available }} + {{ station.num_ebikes_available }}</span>
        <span><i>Docks:</i> {{ station.num_docks_available }}</span>
      </em>
    </li>
    {% else %}
    <li>The collection is empty.</li>
    {% endfor %}
  </ul>
</body>
</html>