<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fab Stations</title>
</head>
<style>
  body {
    font-size: 1.5rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    margin: 0;
    padding: 0;
  }

  h1 {
    font-size: 120%;
    margin: 1.5rem 8px 2rem;
    color: rgb(18, 66, 175)
  }

  ul {
    margin: .5rem;
    padding: 0;
  }

  li {
    list-style: none;
    margin-bottom: 1rem;
  }

  b {
    font-size: 100%;
    display: block;
    margin-bottom: .5rem;
  }

  a {
    font-weight: lighter;
    font-size: 70%;
    display: block;
    color: gray;
  }

  em {
    font-size: 80%;
    display: flex;
    flex-direction: row;
    font-style: normal;
  }

  i {
    font-style: normal;
    width: 60px;
    display: inline-block;
  }

  .bikes {
    width: 200px;
  }

  .red {
    font-weight: bold;
    color: red;
  }

  .green {
    font-weight: bold;
    color: green;
  }
</style>

<body>
  <h1>Fab's Citi Bike bookmarks</h1>
  <ul>
    {% for station in data %}
      {% assign num_bikes_available_int = station.num_bikes_available | plus: 0 %}
      {% assign num_docks_available_int = station.num_docks_available | plus: 0 %}
      <li>
        <b>
          {{ station.label }}
          <a href="https://www.google.com/maps/dir/?api=1&destination={{ station.lat }}%2C{{ station.lon }}">{{ station.name }}</a>
        </b>
        <em>
          <div class="bikes">
            <i>Bikes:</i>
            <span
              {% if num_bikes_available_int <= 2 %}class="red"{% endif %}
              {% if num_bikes_available_int >= 10 %}class="green"{% endif %}
            >
              {{ station.num_bikes_available }} + {{ station.num_ebikes_available }}
            </span>
          </div>
          <div>
            <i>Docks:</i> 
            <span
              {% if num_docks_available_int <= 2 %}class="red"{% endif %}
              {% if num_docks_available_int >= 10 %}class="green"{% endif %}
            >
              {{ station.num_docks_available }}
            </span>
          </div>
        </em>
      </li>
    {% endfor %}
  </ul>
</body>
</html>